.container {
    width: 100%;
    height: 100%;
    background-color: black;
}

h4 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: grey;
<<<<<<< HEAD
}
=======
}
>>>>>>> b5910cdb8d3c84d43d781975e833d1d6836a61aa
